body {
  background-color: black;
  font-family: "Titillium Web", sans-serif;
  color: white;  
  text-align: center;
  align-content: center;
}
  
h1 {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 4rem;
  line-height: 2;
}
  
h1 span {
  color: #6a14ff;
}
  
p {   
  font-size: 1.25rem;
  margin-bottom: 4.5rem;
}
  
a {
  background-color: #6a14ff;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;

  font-size: 1.5rem;
  border-radius: 0.5rem;
  
  transition: background-color 400ms
}
  
  a:hover {
    background-color: #FA6101;
  }

  #bg-image {
    position: absolute;
    inset: 0;
    background-image: url("https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;

    }
  
@media (width < 40rem) {
  html {
    font-size: 70%;
  }
}
  
h1, p, a {
  animation: appear 1s backwards;
}
  
h1 {
  animation-delay: 0.2s;
}
  
p {
  animation-delay: 0.8s;
}
  
a {
  animation-delay: 1.6s;
}
   
@keyframes appear {
  0% {
    opacity: 0;
  }
}
